@model IEnumerable<MvcRazor_Clone.Models.Student>

@{
    ViewBag.Title = "ScoresRazor";
}

<h2>ScoresRazor</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chinese)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.English)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Math)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            var total = item.Chinese + item.English + item.Math;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                @if (item.Chinese < 60)
                {
                    <td class="pool">
                        @Html.DisplayFor(modelItem => item.Chinese)
                    </td>
                }
                else if (item.Chinese >= 95)
                {
                    <td class="excellent">
                        @Html.DisplayFor(modelItem => item.Chinese)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Chinese)
                    </td>
                }

                @if (item.English < 60)
                {
                    <td class="pool">
                        @Html.DisplayFor(modelItem => item.English)
                    </td>
                }
                else if (item.English >= 95)
                {
                    <td class="excellent">
                        @Html.DisplayFor(modelItem => item.English)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.English)
                    </td>
                }

                @if (item.Math < 60)
                {
                    <td class="pool">
                        @Html.DisplayFor(modelItem => item.Math)
                    </td>
                }
                else if (item.Math >= 95)
                {
                    <td class="excellent">
                        @Html.DisplayFor(modelItem => item.Math)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Math)
                    </td>
                }


                @if (item.Id == ViewBag.topId)
                {
                    <td class="top1">
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                }
                else
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                }
            </tr>
        }
    </tbody>
</table>



@section topCSS{
    <style type="text/css">
        th {
            color: white;
            background-color: black;
            text-align: center;
        }

        .table > tbody > tr :hover {
            background-color: antiquewhite !important;
        }

        .pool {
            color: white !important;
            background-color: red !important;
        }

        .excellent {
            background-color: aqua !important;
        }

        .top1 {
            background-color: yellow !important;
            border: 2px dashed black !important;
            font-weight: 900;
            font-size: 1.2em;
        }

            .top1::after {
                content: ' (總分排名第一)';
            }
    </style>

}
